# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Build & dist
dist/
build/
*.zip

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing
coverage/
.nyc_output/

# Logs
logs/
*.log
